<?xml version="1.0"?>
<launch>
    

    <node name="WeedDetector" pkg="weeding_assignment" type="WeedDetector.py" output="screen"/>
    <node name="WeedSprayer" pkg="weeding_assignment" type="WeedSprayer.py" output="screen"/>
    <node name="ManageWeeding" pkg="weeding_assignment" type="ManageWeeding.py" output="screen"/>
    <node name="MoveBaseTopClient" pkg="weeding_assignment" type="MoveBaseTopClient.py" output="screen"/>
    <node name="MoveBaseClientR" pkg="weeding_assignment" type="MoveBaseClientR.py" output="screen"/>
    <node name="TopoPlanner" pkg="weeding_assignment" type="TopoPlanner.py" output="screen"/>
    
    

</launch>
